body{
  /*background-color: #9495df;*/
  background-image: url(bg.jpg);

}
h1 {
  font: 40px/60px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #9495df;
  font-weight: 200;
  }


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  padding: 0;
  margin: 46 auto;
  border: 5px solid #f9ecfd;
  border-radius:10px;

}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;

}

nav{
  float: right;
  padding-top: 5px;
  z-index: 100;
}

nav a{
  background-color:
}

nav ul li{
  background-color: #F6F4F8;
  color: #663095;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 30px 10px 10px;
  padding: 6px 20px;
  border-radius: 9px;
  display: inline;
  z-index: 100;
}

/*footer{
 
  padding-top: 20px;
  /*padding-left: 30px;
  background-color: #1f1430;
  
  margin-top: 550px;
  left: 20%;
  right: 20%;
  color: #FFFFFF;
  display: block;
  opacity:0.7;
  }font-size*/

#rights{
width: 400px;
margin-left:auto;
margin-right:auto;
height: 40px;
color: white;


}

header{
  height: 60px;
  padding-left: 30px;
  background-color: #1f1430;
  
  margin-top: 10px;
  opacity:0.7;

}


header h1{
  display:inline;
}

#rights p{
  text-align: center;
  margin: 0 auto;
}
